<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>modelscontrastlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A83D3CD41F037DC200FD39F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A83D3CED1F037DC300FD39F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A83D3CF81F037DC300FD39F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
